<h1>New Task</h1>
<%= form_for(@new_task) do |t| %>
<div>
    <%= t.label :title %>
    <%= t.text_field :title, placeholder: "Please input task title" %>
</div>
<div>
    <%= t.label :details %>
    <%= t.text_area :details, placeholder: "Please input task details" %>
</div>
    <%= t.submit %>
<% end %>